/* OpenTrainDrive: symbol library (CSS-only) */

:root {
  --otd-symbol-size: 28px;
  --otd-symbol-bg: #ffffff;
  --otd-symbol-border: transparent;
  --otd-symbol-fg: #000000;
  --otd-symbol-accent: #000000;
  --otd-symbol-stroke: 2px;
}

.otd-symbol {
  width: var(--otd-symbol-size);
  height: var(--otd-symbol-size);
  background: var(--otd-symbol-bg);
  border: 0;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border-radius: 1px;
  box-shadow: none;

  --otd-symbol-rotate: 0deg;
  --otd-symbol-mask: none;
  --otd-symbol-accent1: none;
  --otd-symbol-accent2: none;
}

.otd-symbol::before {
  content: "";
  position: absolute;
  inset: 14%;
  background: var(--otd-symbol-fg);
  transform: rotate(var(--otd-symbol-rotate));
  transform-origin: center;
  -webkit-mask: var(--otd-symbol-mask) center / contain no-repeat;
  mask: var(--otd-symbol-mask) center / contain no-repeat;
}

.otd-symbol::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-image: var(--otd-symbol-accent1), var(--otd-symbol-accent2);
}

.otd-symbol--svg {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.otd-symbol--svg::before,
.otd-symbol--svg::after {
  display: none;
}

.otd-symbol--track-straight-h,
.otd-symbol--track-straight-v,
.otd-symbol--track-curve-ne,
.otd-symbol--track-curve-nw,
.otd-symbol--track-curve-se,
.otd-symbol--track-curve-sw,
.otd-symbol--switch-left,
.otd-symbol--switch-right
.otd-symbol--signal-down
.otd-symbol--signal-left
.otd-symbol--signal-right
.otd-symbol--signal-up {
  background-color: transparent;
}


.otd-symbol--track-straight-h {
  background-image: linear-gradient(
    transparent 45%,
    var(--otd-symbol-fg) 45%,
    var(--otd-symbol-fg) 55%,
    transparent 55%
  );
}

.otd-symbol--track-straight-v {
  background-image: linear-gradient(
    90deg,
    transparent 45%,
    var(--otd-symbol-fg) 45%,
    var(--otd-symbol-fg) 55%,
    transparent 55%
  );
}

.otd-symbol--track-curve-ne::after,
.otd-symbol--track-curve-nw::after,
.otd-symbol--track-curve-se::after,
.otd-symbol--track-curve-sw::after {
  content: "";
  position: absolute;
  inset: 18%;
  border-width: var(--otd-symbol-stroke);
  border-style: solid;
  border-color: transparent;
  border-radius: 999px;
}

.otd-symbol--track-curve-ne::after {
  border-top-color: var(--otd-symbol-fg);
  border-right-color: var(--otd-symbol-fg);
}

.otd-symbol--track-curve-nw::after {
  border-top-color: var(--otd-symbol-fg);
  border-left-color: var(--otd-symbol-fg);
}

.otd-symbol--track-curve-se::after {
  border-bottom-color: var(--otd-symbol-fg);
  border-right-color: var(--otd-symbol-fg);
}

.otd-symbol--track-curve-sw::after {
  border-bottom-color: var(--otd-symbol-fg);
  border-left-color: var(--otd-symbol-fg);
}

.otd-symbol--switch-left,
.otd-symbol--switch-right {
  background-image:
    linear-gradient(
      transparent 45%,
      var(--otd-symbol-fg) 45%,
      var(--otd-symbol-fg) 55%,
      transparent 55%
    ),
    linear-gradient(
      135deg,
      transparent 46%,
      var(--otd-symbol-fg) 46%,
      var(--otd-symbol-fg) 54%,
      transparent 54%
    );
  background-size: 100% 100%, 65% 65%;
  background-position: center, 28% 28%;
  background-repeat: no-repeat;
}

.otd-symbol--switch-right {
  background-image:
    linear-gradient(
      transparent 45%,
      var(--otd-symbol-fg) 45%,
      var(--otd-symbol-fg) 55%,
      transparent 55%
    ),
    linear-gradient(
      45deg,
      transparent 46%,
      var(--otd-symbol-fg) 46%,
      var(--otd-symbol-fg) 54%,
      transparent 54%
    );
  background-position: center, 72% 28%;
}

.otd-symbol--signal-left,
.otd-symbol--signal-right,
.otd-symbol--signal-up,
.otd-symbol--signal-down {
  --otd-symbol-fg: #e10600;
}


.otd-symbol--signal-left {
  width: 0px;
height: 0px;
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
border-style: solid;
border-width: 24px 24px 24px 0;
border-color: transparent #eb1d36 transparent transparent;
}

.otd-symbol--signal-right {
  width: 0px;
height: 0px;
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
border-style: solid;
border-width: 24px 0 24px 24px;
border-color: transparent transparent transparent #eb1d36;
}

.otd-symbol--signal-up {
  width: 0px;
height: 0px;
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
border-style: solid;
border-width: 0 24px 24px 24px;
border-color: transparent transparent #eb1d36 transparent;
}

.otd-symbol--signal-down {
width: 0px;
height: 0px;
-webkit-transform:rotate(360deg);
transform:rotate(360deg);
border-style: solid;
border-width: 24px 24px 0 24px;
border-color: #eb1d36 transparent transparent transparent;
}
